.about{    
    /* display: flex; */
    margin: 0px 170px;
    /* flex-direction: column; */
    
}
.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}
/* .about-header p  */
#page-header.about-header {
    background-image: url('../Assets/banner.png');
    /* width: 50%; */
    height: 35vh;
    font-size: 27px;
    color: white;
    /* gap: 10px; */
  }

  #about-head{
   display:flex;
   align-items: center;
  }
  
  #about-head img{
   width: 50%;
   height: auto;
  }
  
  #about-head div{
   padding-left: 40px;
  
  }